html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************
        BODY STYLES
************************/

body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  color: #fff;
  position: relative;
}

/************************
      BASE LAYOUT
************************/

.container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.time-greeting {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}
.main-focus {
  margin-bottom: 4em;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.wrap {
  min-height: calc(100vh - 16px);
}

/************************
        CLEARFIX
************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/************************
      TYPOGRAPHY
************************/

h1 {
  font-size: 6em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

/************************
    MAIN FOOTER
************************/

.main-footer {
  text-align: center;
}
.main-footer p {
  display: inline-block;
}
.display-location {
  float: left;
}
.random-quote {
  text-align: center;
}
.todo {
  float: right;
}
